/* animations.css */

/* NUEVA ANIMACIÓN: Marquesina (Cintillo Infinito)
*/
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  } /* Mueve el contenido 100% a la izquierda */
}

/* NUEVO ESTILO: Contenedor del banner
  Oculta el texto que se desborda
*/
.marquee-container {
  overflow: hidden; /* ¡Esencial! Oculta el texto que se sale */
  position: relative;
  width: 100%;
  display: flex;
}

/* NUEVO ESTILO: Contenido que se desliza
*/
.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
  padding-left: 100%;
}

/* Animación de sacudida para el icono del reloj (Esta se queda igual)
*/
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-3px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(3px);
  }
}

.banner-shake-icon {
  display: inline-block;
  animation: shake 2.5s ease-in-out infinite 0.5s;
  transform-origin: center;
}

#ofertas-carrusel {
  /* Para Internet Explorer y Edge */
  -ms-overflow-style: none;

  /* Para Firefox */
  scrollbar-width: none;
}

/* Para Chrome, Safari, Opera y navegadores móviles (iOS, Android) */
#ofertas-carrusel::-webkit-scrollbar {
  display: none;
}
